.footerlogo {
   display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.footerinfo {
   text-align: center;
}
.footerinfo p {
   margin-bottom: 5px;
}
.footerblock { 
   margin-top: auto;
}