.containerHead {
   padding-top: 200px;
}
.partners h3{
   padding-left: 25%;
   padding-top: 10px;
}
.cardbody {
   text-align: center;
   vertical-align: text-bottom;
}
.cardbody a{
   color: black;
}
.cardbody a:hover{
   color: rgb(22, 161, 22);
}
.cardimg {
   width: 250px;
   height: 200px;
   max-width: 100%;
   max-height: 100%;
}
.row {
   margin-bottom: 50px; 
}
.linkPartners {
   text-align: center;
}

.button {
   margin-top: 20px;
   background-color: #0d57a1;
   color: #fff;
   padding: 15px 30px;
   position: relative;
   display: inline-block;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 24px;
   letter-spacing: 3px;
   overflow: hidden;
   transition: 0.2s;
}
.button:hover {
   color: #fff;
   box-shadow: 0 0 10px #0d57a1, 0 0 40px #0d57a1, 0 0 80px #0d57a1;
}