*, *:before, *:after {
   box-sizing: border-box;
}
.general {
   background: #212529;
   padding-bottom: 100px;
}


@media (max-width:860px) {
   .none860 {
      display: none;
   }
}
@media (max-width:1400px) {
   .carouselItem p {
      font-size: calc(12px + (30 - 12) * ((100vw - 320px) / (1400 - 320)));
   }
   .carouselItem {
      max-height: calc(200px + (600 - 200) * ((100vw - 320px) / (1400 - 320)));
   }
}
.caption {
   position: relative;
   top: 10px;
}
.carouselItem {
   max-height: 600px;
}
.p {
   color: #AB0D08;
   font-size: 30px;
}


.card {
   font-size: 16px;
   border: 2px white solid;
   min-width: 215px;
   max-width: 200px;
   height: 300px;
   text-align: center;
   position: relative;
}
.card:hover {
   background-color: #AB0D08;
}
.card::before {
   content: '';
   position: absolute;
   top: 2%;
   bottom: 2%;
   left: 2%;
   right: 2%;
   border-top: 1px solid whitesmoke;
   border-bottom: 1px solid whitesmoke;
   transition: 0.3s;
   transform: scaleX(0);
}
.card::after {
   content: '';
   position: absolute;
   top: 2%;
   bottom: 2%;
   left: 2%;
   right: 2%;
   border-left: 1px solid whitesmoke;
   border-right: 1px solid whitesmoke;
   transition: 0.3s;
   transform: scaleY(0);
}
.cardTittle {
   transform: translateY(20px);
}
.card:hover .cardTittle {
   font-size: 16px;
   transition: 0.3s;
   transform: translateY(5px);
}
.cardBody {
   font-size: 12px;
   padding: 6px;
   opacity: 0;
   transform: translateY(-15px);
}

.card:hover .cardBody {
   transform: translateY(0);
   opacity: 1;
}
.card:hover::before,
.card:hover::after {
   transform: scale(1);
}