.redButton p{
  margin-top: 50px;
}
.student {
  max-width: 300px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
@media (max-width:1400px) {
  .student {
    max-width: calc(260px + (300 - 260) * ((100vw - 320px) / (1400 - 320)))
  }
}


.neonicondiv {
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.neonicon {
  width: 200px;
  background-color: rgb(43, 43, 43);
  height: 200px;
  border: 5px solid rgb(223, 67, 32);
  border-radius: 50%;
  display: flex;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.neonicon:hover {
  border-color: rgb(213, 19, 12);
  box-shadow: 0 0 20px rgb(223, 67, 32), 0 0 40px rgb(223, 67, 32), 0 0 80px rgb(223, 67, 32);
  color:rgb(213, 19, 12);
}