.mainPeople img{
   border: 1px solid #000;
   width: 300px;
   height: 300px;
   justify-content: center;
}
.people h3{
   padding-left: 25%;
   padding-top: 80px;
}
.cardImg {
   box-sizing: border-box;
   width: 305px;
   height: 270px;
   
}
.cardTittle {
   text-align: center;
}
.citata {
   padding: 10%;
}