* {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Neucha', cursive;
   font-family: 'Roboto Flex', sans-serif;
}
* , .container {
   /* width: auto; */
   padding-left: 0;
   padding-right: 0;
 }
 .row {
   margin-left: auto;
   margin-right: auto;
 }
 .col-md-12 {
   padding-left: 0;
   padding-right: 0;
 }