.contacts {
   padding-right: 10px;
   position: relative;
}
.email {
   display: flex;
}
.email a {
   text-decoration: none;
   font-size: 20px;
   padding-left: 10px;
}
.link {
   font-size: 20px;
   color:black;
}
.email img,
.numberSite img {
   width: 25px;
}
.numberSite a {
   text-decoration: none;
}